{% extends 'base.html' %}

{% block script %}
    {{ block.super }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#database').accordion();
        })
        
        $(document).ready(function() {
            $('div.left div.table').click(function(){
                $.post('table/' + $(this).text() + '/', function(result){
                    $('.right').html(result);
                })
            })
        })
    </script>
    
{% endblock %}

{% block body %}

    <div class="left">
        <div id="database">
            <h3>Tables</h3>
            <div>
                {% for name, table in database.tables.items %}
                    <div class="table">{{ table.name }}</div>
                {% endfor %}
            </div>
            <h3>Views</h3>
            <div>
                Tu będą widoczki!
            </div>
            <h3>Stored procedures</h3>
            <div>
                A tu będą procedurki!
            </div>
            <h3>Indices</h3>
            <div>
                A tu indeksiki!
            </div>
        </div>
    </div>
    
    <div class="right">
        
    </div>

{% endblock %}
