{% extends 'base.html' %}

{% block script %}
    {{ block.super }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#database').accordion();
        })
        
        $(document).ready(function() {
            $('div.left div.table').click(function(){
                $.post('table/' + $(this).text() + '/', function(result){
                    $('.right').html(result);
                })
            })
        })
    </script>
    
{% endblock %}

{% block content %}

    <div class="left">
        <div id="database">
            <h3><a href="#">Tables</a></h3>
            <div>
                {% for name, table in database.tables.items %}
                    <div class="table">{{ table.name }}</div>
                {% endfor %}
            </div>
            <h3><a href="#">Views</a></h3>
            <div>
                Tu będą widoczki!
            </div>
            {% if inspector.supports_stored_procedures %}
            <h3><a href="#">Stored procedures</a></h3>
            <div>
                A tu będą procedurki!
            </div>
            {% endif %}
            <h3><a href="#">Indices</a></h3>
            <div>
                A tu indeksiki!
            </div>
        </div>
    </div>
    
    <div class="right">
        
    </div>

{% endblock %}
