{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#database').accordion();
        })
    </script>
{% endblock %}

{% block body %}

    <div id="database">
        <h3>Tables</h3>
        <div>
            {% for table in database.tables %}
                <div>{{ table.name }}</div>
            {% endfor %}
        </div>
        <h3>Views</h3>
        <div>
            Tu będą widoczki!
        </div>
        <h3>Stored procedures</h3>
        <div>
            A tu będą procedurki!
        </div>
        <h3>Indices</h3>
        <div>
            A tu indeksiki!
        </div>
    </div>

{% endblock %}
