{% extends 'base.html' %}

{% load i18n %}

{% block body %}

    {% for label, inspector in inspectors %}

        <div class="caption">{% blocktrans %}Database:{% endblocktrans %} {{ label }}</div>
        
        <div class="tables"><a href="/inspection/tables/">{% blocktrans %}Tables{% endblocktrans %}</a></div>
        
        {% if inspector.supports_stored_procedures %}
        <div class="stored-procedures">
            <a href="/inspection/stored-procedures/">
                {% blocktrans %}Stored procedures {% endblocktrans %}
            </a>
        </div>
        {% endif %}
        
        <div class="views"><a href="/inspection/views/">{% blocktrans %}Views{% endblocktrans %}</a></div>
    
    {% endfor %}

{% endblock %}
