{% extends "base.html" %}

{% load adminmedia i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}

{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}

{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <table>
            <tr>
                <th>{% blocktrans %}Name:{% endblocktrans %}</th>
            </tr>
            {% for name, table in database.tables.items %}
            <tr>
                <td>
                    <a href="../table/{{ name }}/">{{ name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
