{% extends 'base.html' %}

{% load adminmedia i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block extrahead %}
    {% comment %} {{ block.super }} {% endcomment %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">

    <table id="columns">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Type' %}</th>
        </tr>
        {% for column in table.columns.values %}
        <tr>
            <td>{{ column.name }}</td>
            <td>{{ column.type }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
