{% load i18n %}

<div class="table">
    <div class="name">
        <span class="label">{% blocktrans %}Name: {% endblocktrans %}</span>
        {{ table_name }}
    </div>
    <table class="table-details">
        <tr>
            <th>{% blocktrans %}Column{% endblocktrans %}</th>
        </tr>
        {% for column in columns %}
        <tr>
            <td>{{ column }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="table-details">
        <tr>
            <th>{% blocktrans %}Constraints{% endblocktrans %}</th>
        </tr>
        <tr>
            <td>
                Foreign Key content_type (id)
            </td>
        </tr>
    </table>

</div>
